<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
>
    <testsuite name="AssetManager tests">
        <directory>./tests/OcraCachedViewResolverTest</directory>
    </testsuite>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
