<?php
/**
 * This configuration is for OcraCachedViewResolver - copy it to the `config/autoload`
 * directory of your MVC application and remove the `.dist` extension from its name.
 *
 * Don't forget to tweak it for your needs!
 */

use OcraCachedViewResolver\Module;

return [
    Module::CONFIG => [
        // following is the key used to store the template map in the cache adapter
        Module::CONFIG_CACHE_KEY     => 'cached_template_map',
        // name of a service implementing the `Laminas\Cache\Storage\StorageInterface`, used to cache the template map.
        // please provide your own here!
        Module::CONFIG_CACHE_SERVICE => 'your-cache-service-id-here',
    ],
    'service_manager' => [
        'factories' => [
            'your-cache-service-id-here' => YourFactoryForTheCacheStorage::class,
        ],
    ],
];
